$main-color: #19750b;
$secondary-color: #164dcc;
$pure-white: rgb(255, 255, 255);
$pure-white-opacity: rgba(255, 255, 255, 0.65);
$light-white: rgb(227, 255, 227);
$dark: #2e2e2e;
$green-color: #00ffaa;
$green-color-hover: #0fe29c;
$green-light-button: #E3FFE3FF;
$green-light-button: #E3FFE3FF;
$green-light-button: #E3FFE3FF;

$light-blue-gradient: linear-gradient(45deg, rgba(8, 206, 255, 0.75), rgba(8, 24, 255, 0.75));
$green-gradient: linear-gradient(45deg, rgba(56, 238, 56, 0.49), rgba(14, 82, 5, 0.75));
$purple-gradient: linear-gradient(45deg, rgba(190, 10, 214, 0.75), rgba(68, 0, 255, 0.75));
$green-gradient-solid: linear-gradient(45deg, rgb(67, 121, 67), rgb(51, 210, 88));
$light-blue-gradient-solid: radial-gradient(circle at top right, rgb(0, 78, 255) 0%, rgb(0, 212, 255) 100%);