@import "_colors";

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.white-block {
  .custom-shape-divider-bottom-1649516478 {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .custom-shape-divider-bottom-1649516478 svg {
    position: relative;
    display: block;
    width: calc(263% + 1.3px);
    transform: rotateY(180deg);
  }

  .custom-shape-divider-bottom-1649516478 .shape-fill {
    fill: $pure-white;
  }
}

.btn-special-animation {
  position: relative;
  transition: background-color .3s;
  overflow: hidden;
  z-index: 0;

  &::before {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
    z-index: -1;
  }

  &:hover::before {
    transform: scaleX(1.2);
    transform-origin: left;
  }
}

.section-heading {
  position: relative;
  margin-bottom: 2em;
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: $main-color;
  letter-spacing: 2px;
}

.section-heading::before {
  content: '';
  position: absolute;
  width: 50rem;
  height: 1px;
  background-color: $main-color;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

.section-padding {
  padding: 0 2em;
}

.custom-shape-divider-top-1649600539 {
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1649600539 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 55px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1649600539 .shape-fill {
  fill: #FFFFFF;
}

//bottom wrapper

.custom-shape-divider-bottom-1649601805 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1649601805 svg {
  position: relative;
  display: block;
  width: calc(110% + 1.3px);
  height: 55px;
}

.custom-shape-divider-bottom-1649601805 .shape-fill {
  fill: #FFFFFF;
}

@media(min-width: 768px) {
  .section-heading {
    font-size: 3.6rem;
  }
}

@media(min-width: 992px) {
  .section-heading {
    font-size: 4.8rem;
  }
}

.section-heading {
  position: relative;
  margin-bottom: 2em;
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: $main-color;
  letter-spacing: 2px;
}

.section-heading::before {
  content: '';
  position: absolute;
  width: 50rem;
  height: 1px;
  background-color: $main-color;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

.section-padding {
  padding: 3em 2em;
}

@media(min-width: 768px) {
  .section-heading {
    font-size: 3.6rem;
  }
}

@media(min-width: 992px) {
  .section-heading {
    font-size: 4.8rem;
  }
}