@import "_variables";
@import "_mixins";
@import "_components";
@import "_colors";


*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;

  .nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: $green-gradient-solid;
    z-index: 100;
    transform: translateX(100%);
    transition: 0.5s;

    &__items--circle {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      width: 15rem;
      height: 15rem;
      border: 2px solid #0e5205;
      border-radius: 50%;
      background-image: url('../img/nav-alpaca-face.jpg');
      background-position: center;
      background-size: cover;
      margin-bottom: 5rem;

      .circle-title {
        position: relative;
        font-family: 'Rubik Bubbles', cursive;
        font-size: 6rem;
        text-shadow: 5px 5px 10px #2e2e2e;
        font-weight: lighter;
        color: $pure-white;
        right: 50%;
        transform: translateX(-8%);
        top: 70%;
      }
    }

    .nav__items {
      margin-top: 10rem;
    }

    .nav__item--circle-title {
      position: absolute;
      text-align: center;
      left: 50%;
      top: 30%;
      transform: translateX(-50%);
      font-family: 'Rubik Bubbles', cursive;
      color: $pure-white;
      font-size: 5rem;
      font-weight: lighter;
      text-shadow: 4px 3px 2px #2e2e2e;
    }

    &--active {
      transform: translateX(0);
    }

    &__item {
      position: relative;
      display: block;
      text-decoration: none;
      color: $pure-white-opacity;
      text-transform: uppercase;
      font-size: 2rem;
      margin: 0.5em 0;
      padding: 0.5em;
      text-align: center;

      &::before {
        transition: .4s;
        position: absolute;
        transform: scaleX(0);
        bottom: 3px;
        content: "";
        left: 39%;
        width: 4rem;
        height: 0.2rem;
        background-color: $pure-white;
      }

      &:hover::before {
        transform: scaleX(1.2);
      }
    }
  }

  //==========================================
  //hamburger icon start
  //==========================================

  .burger-btn {
    position: fixed;
    top: 30px;
    right: 30px;
    padding: 1em;
    background: none;
    border: 1px solid transparent;
    cursor: pointer;
    z-index: 200;

    &:focus {
      outline: none;
      border: 1px solid rgba(255, 255, 255, .5);
      border-radius: 3px;
    }

    &:hover {
      .burger-btn__bars::after, .burger-btn__bars::before {
        width: 100%;
      }
    }

    &__box {
      position: relative;
      width: 40px;
      height: 30px;
    }

    &__bars, &__bars::after, &__bars::before {
      content: ' ';
      right: 0;
      background-color: white;
      position: absolute;
      height: 3px;
      transition: width .3s;
    }
    .black-bars-color,
    .black-bars-color::after,
    .black-bars-color::before {
      background-color: $dark;
    }

    &__bars {
      width: 100%;

      &::after {
        top: 13px;
        width: 60%;
      }

      &::before {
        top: 27px;
        width: 30%;
        transition-delay: .2s;
      }
    }

    &__img {
      margin-bottom: 0;
      border-radius: 5px;
      max-height: 300px;
    }
  }
}

//==========================================
//hamburger icon ends
//==========================================

//==========================================
//header
//==========================================
.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em;
  height: 100vh;
  text-align: center;
  color: $pure-white;
  @include hero-images("../img/alpaca-home-img.jpg");

  &__heading {
    font-family: 'Rubik Bubbles', cursive;
    font-size: 6rem;
    text-shadow: 5px 5px 10px #2e2e2e;
    font-weight: lighter;
    //color: $pure-white;
  }

  &__text {
    font-size: 1rem;
  }

  &__btn {
    margin-top: 2rem;
    padding: 0.8rem 1.6rem;
    font-size: 1.2rem;
    background: $pure-white;
    color: $dark;
    border-radius: 0.5rem;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      transform: scale(1.2);
    }

    &::before {
      background-color: $green-light-button;
    }
  }
}

//main
//==========================================
//our attraction
//==========================================

.attractions {
  padding: 0 2em;

  &__box {
    display: flex;
    flex-direction: column;
    margin: 2em 0;
  }

  &__img {
    width: 100%;
    margin-bottom: 1em;
    box-shadow: 5px 5px 5px #4d4646;
    border-radius: 5px;
  }

  &__title {
    margin-bottom: .5em;
    text-transform: uppercase;
    color: $main-color;
    font-weight: normal;
    font-size: 3rem;
  }

  &__text {
    font-size: 1.4rem;
  }
}


//==========================================
//section hero img
//==========================================


.hero-img {
  position: relative;
  padding: 10em 2em;
  @include hero-images("../img/alpaca-home-img.jpg");
  text-align: center;
  color: $pure-white;

  &__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 6rem;
    margin-bottom: 0.5rem;
  }

  &__text {
    padding: 1em 0;
  }
}

//==========================================
//our alpacas
//==========================================

.alpacas {
  margin-bottom: 3rem;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  position: relative;
  margin: 0.5rem 0.5rem;
  padding: 1rem;
  height: 60rem;
  width: 25rem;
  text-align: center;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .7);
  overflow: hidden
}

.one {
  background-image: url("https://images.unsplash.com/photo-1572297982753-48c028401d18?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80");
}

.two {
  background-image: url("https://images.unsplash.com/photo-1552474705-dd8183e00901?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80");
}

.three {
  background-image: url("https://images.unsplash.com/photo-1613318286980-4b3dd8475772?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80");
}

.four {
  background-image: url("https://images.unsplash.com/photo-1601924690478-c507163b3ba9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80");
}

.five {
  background-image: url("https://images.unsplash.com/photo-1545588249-25bfc2e63125?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=927&q=80");
}

.card__button-info {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  background: none;
  border: none;
  color: white;
  font-size: 30px;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
  cursor: crosshair;
  z-index: 5;
}

button:hover ~ .text {
  clip-path: circle(100% at 50% 50%);
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 80px 30px;
  background-color: rgba(0, 0, 0, .7);
  color: white;
  clip-path: circle(0 at 50% 50%);
  transition: .9s;
}

.alpaca-name {
  color: rgba(79, 238, 79, 0.65);
  font-size: 24px;
}

h2 {
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 5px;
}

p {
  font-size: 14px;
}

//==========================================
//offers
//==========================================

.offers {
  position: relative;
  @include hero-images('../img/offer-background.jpg');

  &__option {
    margin: 1em 0;
    box-shadow: 5px 5px 10px #2e2e2e;
    overflow: hidden;
    background-color: $pure-white;
    border-radius: 0.8rem;

    &-img {
      width: 100%;
      transition: transform .3s;


      &:hover {
        transform: scale(1.2)
      }
    }

    &-info {
      padding: 2em;
      background-color: $pure-white;
      z-index: 10;
      width: 100%;
    }

    &-head {
      margin-bottom: .5em;
      font-size: 2.4rem;
      font-weight: 300;
    }

    &-text {
      margin-bottom: 0.5em;
      font-size: 1.3em;
      color: $dark
    }

    &-btn {
      margin-top: 1em;
      padding: .8em;
      color: $pure-white;
      background-color: $main-color;
      border: none;
      border-radius: 6px;
      width: 20rem;
      cursor: pointer;

      &::before {
        background-color: $secondary-color;
      }
    }
  }
}

.offer-title {
  color: $pure-white
}

.section-heading {
  margin-top: 4rem;
}

//==========================================
//reviews
//==========================================

.opinion {
  &__box {
    position: relative;
    margin: 2em;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 3px 3px 10px #2e2e2e;
    transition: transform .3s;

    &:hover {
      transform: scale(0.95);
    }
  }

  &__box-img {
    position: absolute;
    top: 15%;
    left: 75%;
    transform: translate(-50%, -50%);

    img {
      width: 90px;
      height: 90px;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  &__box-quote {
    margin-bottom: 1em;
    font-size: 3rem;
    color: $main-color;
  }

  &__box-text {
    margin-bottom: 1em;
    font-size: 1.4rem;
    color: $dark;
  }
}


//=========================================
//contact
//=========================================

.contact {
  position: relative;
  @include hero-images('../img/offer-background.jpg');
  overflow: hidden;

  &__form {
    margin-bottom: 10rem;
  }

  &__form, &__form-top {
    display: flex;
    flex-direction: column;
  }

  &__form-label {
    margin-bottom: 0.5em;
    text-transform: uppercase;
    color: $pure-white;
    font-size: 1.5rem;
  }

  &__form-input {
    @include contactForm;
  }

  &__form-textarea {
    @include contactForm;
    max-width: 100%;
    width: 100%;
    min-height: 170px;
  }

  &__form-btn {
    align-self: flex-end;
    padding: 1em;
    width: 100%;
    max-width: 300px;
    border: none;
    font-size: 1.5rem;
    border-radius: 8px;
    color: $main-color;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.05);
    }

    &::before {
      background-color: $green-light-button;
    }
  }
}


//=========================================
//FOOTER
//=========================================

.footer {
  color: $dark;
  background-color: $pure-white;


  .wrapper {
    padding: 6em 2em 2em;

  }

  &__box {
    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif;
  }

  &__box-desktop {
    display: none;
  }

  &__box-title {
    margin-bottom: 1em;
    font-size: 2rem;
  }

  &__box-social {
    margin: 2em 0 1em;

  }

  &__box-link {
    padding: 0.3em;
    color: $dark;
    font-size: 3rem;
    text-decoration: none;
    transition: color .3s;

    &:first-child {
      padding-left: 0;
    }

    &:hover {
      color: $main-color;
    }
  }

  &__bottom-text {
    padding: 2em;
    text-align: center;
  }
}

//==========================================
//media query
//==========================================


@media (min-width: 992px) {
  .burger-btn {
    top: 50px;
    right: 50px;
    font-weight: lighter;
  }


  .header__heading {
    font-size: 10rem;
  }

  .attractions {
    &__box {
      &-text {
        display: flex;
        flex-direction: column;
      }
    }
  }
  .attractions__title {
    font-size: 3rem;
  }
  .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .offers {
    &__option {
      &-img {
        object-fit: cover;
        height: 300px;
      }

      &-text {
        font-size: 1.5rem;
      }
    }
  }
}

@media (max-width: 992px) {
  .attractions__title {
    font-size: 2rem;
  }

  .section-heading::before {
    width: 35rem;
  }
}

@media (min-width: 768px) {
  .header__heading {
    font-size: 8rem;
  }

  .header__text {
    font-size: 1.5rem;
  }

  .header__btn {
    font-size: 1.4rem;
  }

  .white-block .custom-shape-divider-bottom-1649516478 svg {
    height: 150px;
  }

  .attractions {
    font-size: 1.8rem;

    &__box {
      flex-direction: row;
      justify-content: space-between;

      &-text {
        width: 55%;

        &--right {
          text-align: right;
        }
      }

      &-img {
        width: 40%;

        &--right {
          order: 1;
        }
      }
    }

    &__img {
      margin-bottom: 0;
      border-radius: 5px;
      max-height: 300px;
    }
  }

  .hero-img {
    padding: 15rem 2em;

    .hero-img__title {
      font-size: 5rem;
    }

    &__text {
      font-size: 1.5rem;
    }

    hr {
      margin: 0 auto;
      width: 50%;
    }
  }

  .cards {
    .card {
      height: 50rem;
      width: 35rem;
    }
  }

  .footer {

    &__boxes {
      display: flex;
      justify-content: space-between;
    }

    &__box-desktop {
      display: block;

    }

    &__box {
      margin: 0 2em;
      width: 25%;

      &:first-child {
        width: 50%;
      }
    }

    &__box-title {
      font-size: 2.4rem;
    }

    &__box-list {
      list-style: none;
    }

    &__box-list-item {
      margin-bottom: 1em;

      a {
        color: $dark;
        text-decoration: none;
      }
    }
  }
}

@media(max-width: 768px) {
  .attractions__box {
    margin-bottom: 5rem;
  }

  .attractions__title {
    font-size: 3rem;
  }

  .section-heading::before {
    width: 30rem;
  }

  .hero-img__title {
    font-size: 3rem;
  }
}

@media (max-width: 568px) {
  .header {
    @include hero-images("../img/alpaca-home-img-small.jpg");
  }

  .hero-img {
    @include hero-images("../img/alpaca-home-img-small.jpg");

    hr {
      width: 70%;
      margin: 0 auto;
    }
  }

  .hero-img__title {
    font-size: 2.5rem;
  }

  .custom-shape-divider-bottom-1649601805 svg {
    height: 30px;
  }

  .custom-shape-divider-top-1649600539 svg {
    height: 30px;
  }

  .cards {
    .card {
      height: 40rem;
      width: 30rem;
    }
  }
}

@media(min-width: 768px) {
  .offers {
    &__option {
      display: flex;
      margin: 2em 0;
      width: 100%;

      &-img {
        width: 50%;
        height: auto;
      }

      &-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 5rem;
      }

      &-head {
        margin-bottom: 0.5em;
        font-size: 3.6rem;
      }
    }
  }

  .offers__option-img--right {
    order: 1;
  }
}

@media (max-width: 400px) {

  .header__heading {
    font-size: 4.5rem;
  }

  .header__text {
    font-size: 1rem;
  }

  .cards {
    .card {
      height: 40rem;
      width: 30rem;
    }
  }
}


@media (max-width: 336px) {
  .section-heading::before {
    width: 0;
  }
}
