.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.white-block .custom-shape-divider-bottom-1649516478 {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
.white-block .custom-shape-divider-bottom-1649516478 svg {
  position: relative;
  display: block;
  width: calc(263% + 1.3px);
  height: 50px;
  transform: rotateY(180deg);
}
.white-block .custom-shape-divider-bottom-1649516478 .shape-fill {
  fill: rgb(255, 255, 255);
}

.btn-special-animation {
  position: relative;
  transition: background-color 0.3s;
  overflow: hidden;
  z-index: 0;
}
.btn-special-animation::before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
  z-index: -1;
}
.btn-special-animation:hover::before {
  transform: scaleX(1.2);
  transform-origin: left;
}

.section-heading {
  position: relative;
  margin-bottom: 2em;
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: #19750b;
  letter-spacing: 2px;
}

.section-heading::before {
  content: "";
  position: absolute;
  width: 50rem;
  height: 1px;
  background-color: #19750b;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

.section-padding {
  padding: 3em 2em;
}

@media (min-width: 768px) {
  .section-heading {
    font-size: 3.6rem;
  }
}
@media (min-width: 992px) {
  .section-heading {
    font-size: 4.8rem;
  }
}
.section-heading {
  position: relative;
  margin-bottom: 2em;
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: #19750b;
  letter-spacing: 2px;
}

.section-heading::before {
  content: "";
  position: absolute;
  width: 50rem;
  height: 1px;
  background-color: #19750b;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

.section-padding {
  padding: 3em 2em;
}

@media (min-width: 768px) {
  .section-heading {
    font-size: 3.6rem;
  }
}
@media (min-width: 992px) {
  .section-heading {
    font-size: 4.8rem;
  }
}
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}
body .nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(45deg, rgb(67, 121, 67), rgb(51, 210, 88));
  z-index: 100;
  transform: translateX(100%);
  transition: 0.5s;
}
body .nav__items--circle {
  position: relative;
  width: 15rem;
  height: 15rem;
  border: 2px solid #0e5205;
  border-radius: 50%;
  background-image: url("../img/nav-alpaca-face.jpg");
  background-position: center;
  background-size: cover;
  transition: 0.3s;
}
body .nav__items--circle:hover {
  transform: scale(1.2);
}
body .nav--active {
  transform: translateX(0);
}
body .nav__item {
  position: relative;
  display: block;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.65);
  text-transform: uppercase;
  font-size: 2rem;
  margin: 0.5em 0;
  padding: 0.5em;
  text-align: center;
}
body .nav__item::before {
  transition: 0.4s;
  position: absolute;
  transform: scaleX(0);
  bottom: 3px;
  left: 36.5%;
  content: "";
  width: 4rem;
  height: 0.2rem;
  background-color: rgb(255, 255, 255);
}
body .nav__item:hover::before {
  transform: scaleX(1.2);
}
body .burger-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 1em;
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 200;
}
body .burger-btn:focus {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 6px;
}
body .burger-btn:hover .burger-btn__bars::after, body .burger-btn:hover .burger-btn__bars::before {
  width: 100%;
}
body .burger-btn__box {
  position: relative;
  width: 40px;
  height: 30px;
}
body .burger-btn__bars, body .burger-btn__bars::after, body .burger-btn__bars::before {
  content: " ";
  right: 0;
  background-color: rgb(255, 255, 255);
  position: absolute;
  height: 3px;
  transition: width 0.3s;
}
body .burger-btn__bars {
  width: 100%;
}
body .burger-btn__bars::after {
  top: 13px;
  width: 60%;
}
body .burger-btn__bars::before {
  top: 27px;
  width: 30%;
  transition-delay: 0.2s;
}
body .burger-btn__img {
  margin-bottom: 0;
  border-radius: 5px;
  max-height: 300px;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em;
  height: 75vh;
  text-align: center;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(45deg, rgba(56, 238, 56, 0.49), rgba(14, 82, 5, 0.75)), url("../img/alpaca-home-img.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-attachment: scroll;
}
.header__heading {
  font-family: "Rubik Bubbles", cursive;
  font-size: 6rem;
  text-shadow: 5px 5px 10px #2e2e2e;
  font-weight: lighter;
}
.header__text {
  font-size: 1rem;
}
.header__btn {
  margin-top: 2rem;
  padding: 0.8rem 1.6rem;
  font-size: 1.2rem;
  background: rgb(255, 255, 255);
  color: #2e2e2e;
  border-radius: 0.5rem;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
}
.header__btn:hover {
  transform: scale(1.2);
}
.header__btn::before {
  background-color: #e3ffe3;
}

.dreams__box {
  display: flex;
  flex-direction: column;
  margin: 2em 0;
}
.dreams__img {
  width: 100%;
  margin-bottom: 1em;
  box-shadow: 5px 5px 5px #4d4646;
  border-radius: 5px;
}
.dreams__title {
  margin-bottom: 0.5em;
  text-transform: uppercase;
  color: #19750b;
  font-weight: normal;
  font-size: 3rem;
}
.dreams__text {
  font-size: 1.4rem;
}

@media (min-width: 992px) {
  .burger-btn {
    top: 50px;
    right: 50px;
  }

  .header__heading {
    font-size: 10rem;
  }

  .nav__items--circle {
    width: 25rem;
    height: 25rem;
  }
  .nav__item {
    font-size: 4rem;
  }
  .nav__item::before {
    left: 36%;
    width: 7rem;
  }

  .dreams__box-text {
    display: flex;
    flex-direction: column;
  }

  .dreams__title {
    font-size: 3rem;
  }
}
@media (max-width: 992px) {
  .dreams__title {
    font-size: 2rem;
  }

  .section-heading::before {
    width: 35rem;
  }
}
@media (min-width: 768px) {
  .header__heading {
    font-size: 8rem;
  }

  .header__text {
    font-size: 1.5rem;
  }

  .header__btn {
    font-size: 1.4rem;
  }

  .white-block .custom-shape-divider-bottom-1649516478 svg {
    height: 150px;
  }

  .dreams {
    font-size: 1.8rem;
  }
  .dreams__box {
    flex-direction: row;
    justify-content: space-between;
  }
  .dreams__box-text {
    width: 55%;
  }
  .dreams__box-text--right {
    text-align: right;
  }
  .dreams__box-img {
    width: 40%;
  }
  .dreams__box-img--right {
    order: 1;
  }
  .dreams__img {
    margin-bottom: 0;
    border-radius: 5px;
    max-height: 300px;
  }
}
@media (max-width: 768px) {
  .dreams__box {
    margin-bottom: 5rem;
  }

  .dreams__title {
    font-size: 3rem;
  }

  .section-heading::before {
    width: 30rem;
  }
}
@media (max-width: 568px) {
  .header {
    background-image: linear-gradient(45deg, rgba(56, 238, 56, 0.49), rgba(14, 82, 5, 0.75)), url("../img/alpaca-home-img-small.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
}
@media (max-width: 400px) {
  .header__heading {
    font-size: 4.5rem;
  }

  .header__text {
    font-size: 1rem;
  }
}
@media (max-width: 336px) {
  .section-heading::before {
    width: 0;
  }
}

/*# sourceMappingURL=main.css.map */
