@import "variables";
@import "mixins";
@import "components";
@import "colors";

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;

}

.nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: $green-gradient-solid;
  z-index: 100;
  transform: translateX(100%);
  transition: 0.5s;

  .nav__circle {
    position: relative;
    width: 15rem;
    height: 15rem;
    border: 2px solid #0e5205;
    border-radius: 50%;
    background-image: url('../img/nav-alpaca-face.jpg');
    background-position: center;
    background-size: cover;
    transition: .3s;
    &:hover {
      transform: scale(1.2);
    }
  }


  &--active {
    transform: translateX(0);
  }

  &__item {
    position: relative;
    display: block;
    text-decoration: none;
    color: $pure-white;
    text-transform: uppercase;
    font-size: 2rem;
    margin: 0.5em 0;
    padding: 0.5em;
    text-align: center;

    &::before {
      transition: .4s;
      position: absolute;
      transform: scaleX(0);
      bottom: 3px;
      left: 36.5%;
      content: "";
      width: 4rem;
      height: 0.2rem;
      background-color: $pure-white;
    }

    &:hover::before {
      transform: scaleX(1.2);
    }
  }
}

//hamburger icon///////////////////////////////////////

.burger-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 1em;
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 200;


  &:focus {
    outline: none;
    border: 1px solid rgba(255, 255, 255, .5);
    border-radius: 6px;
  }

  &:hover {
    .burger-btn__bars::after, .burger-btn__bars::before {
      width: 100%;
    }
  }

  &__box {
    position: relative;
    width: 40px;
    height: 30px;
  }

  &__bars, &__bars::after, &__bars::before {
    content: ' ';
    right: 0;
    background-color: $pure-white;
    position: absolute;
    height: 3px;
    transition: width .3s;

  }

  &__bars {
    width: 100%;

    &::after {
      top: 13px;
      width: 60%;
    }

    &::before {
      top: 27px;
      width: 30%;
      transition-delay: .2s;
    }
  }

}

//hamburger icon end///////////////////////////////////////

//HEADER /////////
.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em;
  height: 75vh;
  text-align: center;
  color: $pure-white;
  @include hero-images("../img/alpaca-home-img-small.jpg");
  background-attachment: scroll;

  &__heading {
    font-family: 'Rubik Bubbles', cursive;
    font-size: 6rem;
    text-shadow: 5px 5px 10px #2e2e2e;
    font-weight: lighter;
  }

  &__text {
    font-size: 1rem;

  }

  &__btn {
    margin-top: 2rem;
    padding: 0.6rem 1.2rem;
    font-size: 1.2rem;
    background: $pure-white;
    color: $dark;
    border-radius: 0.5rem;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      transform: scale(1.2);

    }

    &::before {
      background-color: $green-light-button;
    }
  }
}

//media query

@media (min-width: 992px) {
  .burger-btn {
    top: 50px;
    right: 50px;
  }
  .header {
    background-image: $green-gradient url("../img/alpaca-home-img.jpg");
  }
  .header__heading {
    font-size: 10rem;
  }
}

@media (min-width: 768px) {
  .header__heading {
    font-size: 8rem;
  }
  .header__text {
    font-size: 1.5rem;
  }
  .header__btn {
    font-size: 1.4rem;
  }
  .white-block .custom-shape-divider-bottom-1649516478 svg {
    height: 150px;
  }
}

@media (max-width: 400px) {
  .header__heading {
    font-size: 4.5rem;
  }
  .header__text {
    font-size: 1rem;
  }
}