.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.white-block .custom-shape-divider-bottom-1649516478 {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
.white-block .custom-shape-divider-bottom-1649516478 svg {
  position: relative;
  display: block;
  width: calc(263% + 1.3px);
  transform: rotateY(180deg);
}
.white-block .custom-shape-divider-bottom-1649516478 .shape-fill {
  fill: rgb(255, 255, 255);
}

.btn-special-animation {
  position: relative;
  transition: background-color 0.3s;
  overflow: hidden;
  z-index: 0;
}
.btn-special-animation::before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
  z-index: -1;
}
.btn-special-animation:hover::before {
  transform: scaleX(1.2);
  transform-origin: left;
}

.section-heading {
  position: relative;
  margin-bottom: 2em;
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: #19750b;
  letter-spacing: 2px;
}

.section-heading::before {
  content: "";
  position: absolute;
  width: 50rem;
  height: 1px;
  background-color: #19750b;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

.section-padding {
  padding: 0 2em;
}

.custom-shape-divider-top-1649600539 {
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1649600539 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 55px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1649600539 .shape-fill {
  fill: #FFFFFF;
}

.custom-shape-divider-bottom-1649601805 {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1649601805 svg {
  position: relative;
  display: block;
  width: calc(110% + 1.3px);
  height: 55px;
}

.custom-shape-divider-bottom-1649601805 .shape-fill {
  fill: #FFFFFF;
}

@media (min-width: 768px) {
  .section-heading {
    font-size: 3.6rem;
  }
}
@media (min-width: 992px) {
  .section-heading {
    font-size: 4.8rem;
  }
}
.section-heading {
  position: relative;
  margin-bottom: 2em;
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: #19750b;
  letter-spacing: 2px;
}

.section-heading::before {
  content: "";
  position: absolute;
  width: 50rem;
  height: 1px;
  background-color: #19750b;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

.offer-title::before {
  content: "";
  position: absolute;
  width: 50rem;
  height: 1px;
  background-color: rgb(255, 255, 255);
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

.section-padding {
  padding: 3em 2em;
}

.custom-shape-divider-top-1649867026 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1649867026 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 62px;
}

.custom-shape-divider-top-1649867026 .shape-fill {
  fill: #FFFFFF;
}

.custom-shape-divider-top-1649886887 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1649886887 svg {
  position: relative;
  display: block;
  width: calc(153% + 1.3px);
  height: 67px;
}

.custom-shape-divider-top-1649886887 .shape-fill {
  fill: #FFFFFF;
}

.custom-shape-divider-bottom-1649888855 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1649888855 svg {
  position: relative;
  display: block;
  width: calc(181% + 1.3px);
  height: 75px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1649888855 .shape-fill {
  fill: #FFFFFF;
}

.custom-shape-divider-bottom-1649880451 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1649880451 svg {
  position: relative;
  display: block;
  width: calc(133% + 1.3px);
  height: 93px;
}

.custom-shape-divider-bottom-1649880451 .shape-fill {
  fill: #FFFFFF;
}

.custom-shape-divider-bottom-1649880985 {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1649880985 svg {
  position: relative;
  display: block;
  width: calc(157% + 1.3px);
  height: 53px;
}

.custom-shape-divider-bottom-1649880985 .shape-fill {
  fill: #FFFFFF;
}

.down-waves {
  margin-top: 5rem;
}

.custom-shape-divider-top-1649884931 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1649884931 svg {
  position: relative;
  display: block;
  width: calc(162% + 1.3px);
  height: 54px;
}

.custom-shape-divider-top-1649884931 .shape-fill {
  fill: #FFFFFF;
}

@media (min-width: 768px) {
  .section-heading {
    font-size: 3.6rem;
  }
}
@media (min-width: 992px) {
  .section-heading {
    font-size: 4.8rem;
  }
}
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}
body .nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(45deg, rgb(67, 121, 67), rgb(51, 210, 88));
  z-index: 100;
  transform: translateX(100%);
  transition: 0.5s;
}
body .nav__items--circle {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 15rem;
  height: 15rem;
  border: 2px solid #0e5205;
  border-radius: 50%;
  background-image: url("../img/nav-alpaca-face.jpg");
  background-position: center;
  background-size: cover;
  margin-bottom: 5rem;
}
body .nav__items--circle .circle-title {
  position: relative;
  font-family: "Rubik Bubbles", cursive;
  font-size: 6rem;
  text-shadow: 5px 5px 10px #2e2e2e;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  right: 50%;
  transform: translateX(-8%);
  top: 70%;
}
body .nav .nav__items {
  margin-top: 10rem;
}
body .nav .nav__item--circle-title {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
  font-family: "Rubik Bubbles", cursive;
  color: rgb(255, 255, 255);
  font-size: 5rem;
  font-weight: lighter;
  text-shadow: 4px 3px 2px #2e2e2e;
}
body .nav--active {
  transform: translateX(0);
}
body .nav__item {
  position: relative;
  display: block;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.65);
  text-transform: uppercase;
  font-size: 2rem;
  margin: 0.5em 0;
  padding: 0.5em;
  text-align: center;
}
body .nav__item::before {
  transition: 0.4s;
  position: absolute;
  transform: scaleX(0);
  bottom: 3px;
  content: "";
  left: 39%;
  width: 4rem;
  height: 0.2rem;
  background-color: rgb(255, 255, 255);
}
body .nav__item:hover::before {
  transform: scaleX(1.2);
}
body .burger-btn {
  position: fixed;
  top: 30px;
  right: 30px;
  padding: 1em;
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 200;
}
body .burger-btn:focus {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 3px;
}
body .burger-btn:hover .burger-btn__bars::after, body .burger-btn:hover .burger-btn__bars::before {
  width: 100%;
}
body .burger-btn__box {
  position: relative;
  width: 40px;
  height: 30px;
}
body .burger-btn__bars, body .burger-btn__bars::after, body .burger-btn__bars::before {
  content: " ";
  right: 0;
  background-color: rgb(255, 255, 255);
  position: absolute;
  height: 3px;
  transition: width 0.3s;
}
body .burger-btn__bars {
  width: 100%;
}
body .burger-btn__bars::after {
  top: 13px;
  width: 60%;
}
body .burger-btn__bars::before {
  top: 27px;
  width: 30%;
  transition-delay: 0.2s;
}
body .burger-btn__img {
  margin-bottom: 0;
  border-radius: 5px;
  max-height: 300px;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em;
  height: 100vh;
  text-align: center;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(45deg, rgba(56, 238, 56, 0.49), rgba(14, 82, 5, 0.75)), url("../img/alpaca-home-img.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.header__heading {
  font-family: "Rubik Bubbles", cursive;
  font-size: 6rem;
  text-shadow: 5px 5px 10px #2e2e2e;
  font-weight: lighter;
}
.header__text {
  font-size: 1rem;
}
.header__btn {
  margin-top: 2rem;
  padding: 0.8rem 1.6rem;
  font-size: 1.2rem;
  background: rgb(255, 255, 255);
  color: #2e2e2e;
  border-radius: 0.5rem;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
}
.header__btn:hover {
  transform: scale(1.2);
}
.header__btn::before {
  background-color: #e3ffe3;
}

.attractions {
  padding: 0 2em;
}
.attractions__box {
  display: flex;
  flex-direction: column;
  margin: 2em 0;
}
.attractions__img {
  width: 100%;
  margin-bottom: 1em;
  box-shadow: 5px 5px 5px #4d4646;
  border-radius: 5px;
}
.attractions__title {
  margin-bottom: 0.5em;
  text-transform: uppercase;
  color: #19750b;
  font-weight: normal;
  font-size: 3rem;
}
.attractions__text {
  font-size: 1.4rem;
}

.hero-img {
  position: relative;
  padding: 10em 2em;
  background-image: linear-gradient(45deg, rgba(56, 238, 56, 0.49), rgba(14, 82, 5, 0.75)), url("../img/alpaca-home-img.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  color: rgb(255, 255, 255);
}
.hero-img__title {
  font-family: "Montserrat", sans-serif;
  font-size: 6rem;
  margin-bottom: 0.5rem;
}
.hero-img__text {
  padding: 1em 0;
}

.alpacas {
  margin-bottom: 3rem;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  position: relative;
  margin: 0.5rem 0.5rem;
  padding: 1rem;
  height: 60rem;
  width: 25rem;
  text-align: center;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
  overflow: hidden;
}

.one {
  background-image: url("https://images.unsplash.com/photo-1572297982753-48c028401d18?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80");
}

.two {
  background-image: url("https://images.unsplash.com/photo-1552474705-dd8183e00901?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80");
}

.three {
  background-image: url("https://images.unsplash.com/photo-1613318286980-4b3dd8475772?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80");
}

.four {
  background-image: url("https://images.unsplash.com/photo-1601924690478-c507163b3ba9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80");
}

.five {
  background-image: url("https://images.unsplash.com/photo-1545588249-25bfc2e63125?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=927&q=80");
}

.card__button-info {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  background: none;
  border: none;
  color: white;
  font-size: 30px;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
  cursor: crosshair;
  z-index: 5;
}

button:hover ~ .text {
  clip-path: circle(100% at 50% 50%);
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 80px 30px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  clip-path: circle(0 at 50% 50%);
  transition: 0.9s;
}

.alpaca-name {
  color: rgba(79, 238, 79, 0.65);
  font-size: 24px;
}

h2 {
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 5px;
}

p {
  font-size: 14px;
}

.offers {
  position: relative;
  background-image: linear-gradient(45deg, rgba(56, 238, 56, 0.49), rgba(14, 82, 5, 0.75)), url("../img/offer-background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.offers__option {
  margin: 1em 0;
  box-shadow: 5px 5px 10px #2e2e2e;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  border-radius: 0.8rem;
}
.offers__option-img {
  width: 100%;
  transition: transform 0.3s;
}
.offers__option-img:hover {
  transform: scale(1.2);
}
.offers__option-info {
  padding: 2em;
  background-color: rgb(255, 255, 255);
  z-index: 10;
  width: 100%;
}
.offers__option-head {
  margin-bottom: 0.5em;
  font-size: 2.4rem;
  font-weight: 300;
}
.offers__option-text {
  margin-bottom: 0.5em;
  font-size: 1.3em;
  color: #2e2e2e;
}
.offers__option-btn {
  margin-top: 1em;
  padding: 0.8em;
  color: rgb(255, 255, 255);
  background-color: #19750b;
  border: none;
  border-radius: 6px;
  width: 20rem;
  cursor: pointer;
}
.offers__option-btn::before {
  background-color: rgba(79, 238, 79, 0.1);
}

.offer-title {
  color: rgb(255, 255, 255);
}

.section-heading {
  margin-top: 4rem;
}

.opinion__box {
  position: relative;
  margin: 2em;
  padding: 2em;
  border-radius: 8px;
  box-shadow: 3px 3px 10px #2e2e2e;
  transition: transform 0.3s;
}
.opinion__box:hover {
  transform: scale(0.95);
}
.opinion__box-img {
  position: absolute;
  top: 15%;
  left: 75%;
  transform: translate(-50%, -50%);
}
.opinion__box-img img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 50%;
}
.opinion__box-quote {
  margin-bottom: 1em;
  font-size: 3rem;
  color: #19750b;
}
.opinion__box-text {
  margin-bottom: 1em;
  font-size: 1.4rem;
  color: #2e2e2e;
}

.contact {
  position: relative;
  background-image: linear-gradient(45deg, rgba(56, 238, 56, 0.49), rgba(14, 82, 5, 0.75)), url("../img/offer-background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
}
.contact__form {
  margin-bottom: 10rem;
}
.contact__form, .contact__form-top {
  display: flex;
  flex-direction: column;
}
.contact__form-label {
  margin-bottom: 0.5em;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
}
.contact__form-input {
  margin-bottom: 2em;
  padding: 0.6em 1.2em;
  border: none;
  border-radius: 8px;
  font-size: 1.6rem;
}
.contact__form-textarea {
  margin-bottom: 2em;
  padding: 0.6em 1.2em;
  border: none;
  border-radius: 8px;
  font-size: 1.6rem;
  max-width: 100%;
  width: 100%;
  min-height: 170px;
}
.contact__form-btn {
  align-self: flex-end;
  padding: 1em;
  width: 100%;
  max-width: 300px;
  border: none;
  font-size: 1.5rem;
  border-radius: 8px;
  color: #19750b;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform 0.3s;
}
.contact__form-btn:hover {
  transform: scale(1.05);
}
.contact__form-btn::before {
  background-color: #e3ffe3;
}

.footer {
  color: #2e2e2e;
  background-color: rgb(255, 255, 255);
}
.footer .wrapper {
  padding: 6em 2em 2em;
}
.footer__box {
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
}
.footer__box-desktop {
  display: none;
}
.footer__box-title {
  margin-bottom: 1em;
  font-size: 2rem;
}
.footer__box-social {
  margin: 2em 0 1em;
}
.footer__box-link {
  padding: 0.3em;
  color: #2e2e2e;
  font-size: 3rem;
  text-decoration: none;
  transition: color 0.3s;
}
.footer__box-link:first-child {
  padding-left: 0;
}
.footer__box-link:hover {
  color: #19750b;
}
.footer__bottom-text {
  padding: 2em;
  text-align: center;
}

.black-bars-color,
.black-bars-color::after,
.black-bars-color::before {
  background-color: black;
}

@media (min-width: 992px) {
  .burger-btn {
    top: 50px;
    right: 50px;
    font-weight: lighter;
  }

  .header__heading {
    font-size: 10rem;
  }

  .attractions__box-text {
    display: flex;
    flex-direction: column;
  }

  .attractions__title {
    font-size: 3rem;
  }

  .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .offers__option-img {
    object-fit: cover;
    height: 300px;
  }
  .offers__option-text {
    font-size: 1.5rem;
  }
}
@media (max-width: 992px) {
  .attractions__title {
    font-size: 2rem;
  }

  .section-heading::before {
    width: 35rem;
  }
}
@media (min-width: 768px) {
  .header__heading {
    font-size: 8rem;
  }

  .header__text {
    font-size: 1.5rem;
  }

  .header__btn {
    font-size: 1.4rem;
  }

  .white-block .custom-shape-divider-bottom-1649516478 svg {
    height: 150px;
  }

  .attractions {
    font-size: 1.8rem;
  }
  .attractions__box {
    flex-direction: row;
    justify-content: space-between;
  }
  .attractions__box-text {
    width: 55%;
  }
  .attractions__box-text--right {
    text-align: right;
  }
  .attractions__box-img {
    width: 40%;
  }
  .attractions__box-img--right {
    order: 1;
  }
  .attractions__img {
    margin-bottom: 0;
    border-radius: 5px;
    max-height: 300px;
  }

  .hero-img {
    padding: 15rem 2em;
  }
  .hero-img .hero-img__title {
    font-size: 5rem;
  }
  .hero-img__text {
    font-size: 1.5rem;
  }
  .hero-img hr {
    margin: 0 auto;
    width: 50%;
  }

  .cards .card {
    height: 50rem;
    width: 35rem;
  }

  .footer__boxes {
    display: flex;
    justify-content: space-between;
  }
  .footer__box-desktop {
    display: block;
  }
  .footer__box {
    margin: 0 2em;
    width: 25%;
  }
  .footer__box:first-child {
    width: 50%;
  }
  .footer__box-title {
    font-size: 2.4rem;
  }
  .footer__box-list {
    list-style: none;
  }
  .footer__box-list-item {
    margin-bottom: 1em;
  }
  .footer__box-list-item a {
    color: #2e2e2e;
    text-decoration: none;
  }
}
@media (max-width: 768px) {
  .attractions__box {
    margin-bottom: 5rem;
  }

  .attractions__title {
    font-size: 3rem;
  }

  .section-heading::before {
    width: 30rem;
  }

  .hero-img__title {
    font-size: 3rem;
  }
}
@media (max-width: 568px) {
  .header {
    background-image: linear-gradient(45deg, rgba(56, 238, 56, 0.49), rgba(14, 82, 5, 0.75)), url("../img/alpaca-home-img-small.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  .hero-img {
    background-image: linear-gradient(45deg, rgba(56, 238, 56, 0.49), rgba(14, 82, 5, 0.75)), url("../img/alpaca-home-img-small.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .hero-img hr {
    width: 70%;
    margin: 0 auto;
  }

  .hero-img__title {
    font-size: 2.5rem;
  }

  .custom-shape-divider-bottom-1649601805 svg {
    height: 30px;
  }

  .custom-shape-divider-top-1649600539 svg {
    height: 30px;
  }

  .cards .card {
    height: 40rem;
    width: 30rem;
  }
}
@media (min-width: 768px) {
  .offers__option {
    display: flex;
    margin: 2em 0;
    width: 100%;
  }
  .offers__option-img {
    width: 50%;
    height: auto;
  }
  .offers__option-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5rem;
  }
  .offers__option-head {
    margin-bottom: 0.5em;
    font-size: 3.6rem;
  }

  .offers__option-img--right {
    order: 1;
  }
}
@media (max-width: 400px) {
  .header__heading {
    font-size: 4.5rem;
  }

  .header__text {
    font-size: 1rem;
  }

  .cards .card {
    height: 40rem;
    width: 30rem;
  }
}
@media (max-width: 336px) {
  .section-heading::before {
    width: 0;
  }
}

/*# sourceMappingURL=main.css.map */
